<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.function">

    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>

        <activity android:name=".softinput.DemoSoftInputActivity"
            android:label="软键盘"
            ></activity>
        <activity android:name=".countdown.DemoCountDownActivity"
            android:label="倒计时"
            ></activity>
        <activity android:name=".install.DemoInstallActivity"
            android:label="安装"
            ></activity>

        <activity android:name=".permission.DemoPermissionActivity"
            android:label="权限"
            ></activity>

        <activity android:name=".uri.DemoUriActivity"
            android:label="Uri"
            ></activity>

        <activity android:name=".scheme.DemoSchemeUrlActivity"
            android:label="SchemeUrl"
            ></activity>

        <activity android:name=".json.DemoJsonActivity"
            android:label="Json"
            ></activity>
        <activity android:name=".handle.DemoHandleActivity"
            android:label="Handle"
            ></activity>
    </application>

</manifest>