<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.function">

    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>

        <activity android:name=".softinput.DemoSoftInputActivity"
            android:label="软键盘"
            ></activity>
        <activity android:name=".softinput.DemoSoftInputHeightActivity"
            android:label="软键盘高度"
            ></activity>
        <activity android:name=".softinput.DemoSoftInputWebViewNoFullScreenActivity"
            android:label="Webview 不是全屏"
            ></activity>
        <activity android:name=".softinput.DemoSoftInputWebViewFullScreenActivity"

            android:theme="@style/FullScreen"
            android:label="Webview 全屏"
            ></activity>
        <activity android:name=".countdown.DemoCountDownActivity"
            android:label="倒计时"
            ></activity>
        <activity android:name=".install.DemoInstallActivity"
            android:label="安装"
            ></activity>

        <activity android:name=".permission.DemoPermissionActivity"
            android:label="权限"
            ></activity>

        <activity android:name=".uri.DemoUriActivity"
            android:label="Uri"
            ></activity>

        <activity android:name=".scheme.WebviewTestSchemeUrlActivity"
            android:label="网页测试SchemeUrl"
            ></activity>

        <activity android:name=".scheme.DemoCreateSchemeUriActivity"
            android:label="生成SchemeUrl"
            ></activity>

        <activity android:name=".scheme.SchemeUrlActivity"
            android:label="scheme url被跳转页面"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="stepyen"
                    android:host="learn.com"
                    />
            </intent-filter>
        </activity>

        <activity android:name=".json.DemoJsonActivity"
            android:label="Json"
            ></activity>
        <activity android:name=".handle.DemoHandleActivity"
            android:label="Handle"
            ></activity>
        <activity android:name=".java.DemoJavaActivity"
            android:label="Java"
            ></activity>
        <activity android:name=".timer.DemoTimerActivity"
            android:label="Timer"
            ></activity>
    </application>

</manifest>