<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.app">


    <application>
        <activity android:name=".resource.DemoResourceActivity"></activity>
        <activity android:name=".resource.DemoResourceAliasActivity"></activity>



<!--        -->
        <activity android:name=".drawable.DemoDrawableActivity"
            android:label="Drawable"
            ></activity>

        <activity android:name=".tools.DemoToolsActivity"
            android:label="Tools"
            ></activity>

        <activity android:name=".toast.DemoToastActivity"
            android:screenOrientation="landscape"
            android:label="Toast"
            ></activity>

    </application>

</manifest>