<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.viewbase">


    <application>

        <activity android:name=".activity.DemoBitmapActivity"></activity>
        <activity android:name=".activity.DemoViewCoverActivity"></activity>
        <activity android:name=".canvas.DemoViewCanvasActivity"></activity>
        <activity android:name=".paint.DemoViewPaintActivity"></activity>
        <activity android:name=".order.DemoDrawOrderActivity"></activity>

    </application>

</manifest>