<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.animation">



    <application>
        <activity android:name=".activity.DemoTestAnimationActivity"></activity>
        <activity android:name=".activity.DemoFrameAnimationActivity"
            android:label="帧动画"
            ></activity>
        <activity android:name=".activity.DemoTweenAnimotionActivity"
            android:label="补间动画"
            ></activity>
        <activity android:name=".activity.DemoPropertyAnimotionActivity"
            android:label="属性动画"
            ></activity>
    </application>

</manifest>