<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.animation">



    <application>
        <activity android:name=".activity.DemoTestAnimationActivity"></activity>
        <activity android:name=".activity.DemoFrameAnimationActivity"></activity>
        <activity android:name=".activity.DemoTweenAnimotionActivity"></activity>
    </application>

</manifest>