<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.view">


    <application>


        <activity android:name=".dialog.DemoDialogActivity"></activity>

        <activity android:name=".popwindow.DemoPopWindowActivity"></activity>

        <activity android:name=".recycleview.RecycleViewActivity"></activity>
        <activity android:name=".recycleview.RecycleViewDiffActivity"></activity>
        <activity android:name=".recycleview.RecycleViewHorizontalActivity"></activity>

        <activity android:name=".textview.DemoTextViewActivity"></activity>



    </application>

</manifest>