<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.view">


    <application>


        <activity android:name=".constraintlayout.DemoConstraintLayoutActivity"
            android:label="ConstraintLayout"
            ></activity>

        <activity android:name=".dialog.DemoDialogActivity"
            android:label="Dialog"
            ></activity>

        <activity android:name=".dialog.DemoInputDialogPortraitActivity"
            android:screenOrientation="portrait"
            android:label="竖屏-输入框Dialog"
            ></activity>

        <activity android:name=".dialog.DemoInputDialogLandscapeActivity"
            android:screenOrientation="landscape"
            android:label="横屏-输入框Dialog"
            ></activity>

        <activity android:name=".popwindow.DemoPopWindowActivity"
            android:label="PopWindow"
            ></activity>
        <activity android:name=".popwindow.DemoInputDialogShowPopActivity"
            android:label="带有输入框的Dialog上展示PopWindow"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen"
            ></activity>

        <activity android:name=".recycleview.RecycleViewActivity"
            android:label="RecycleView"
            ></activity>
        <activity android:name=".recycleview.RecycleViewDiffActivity"
            android:label="RecycleView DiffUtil数据更新"
            ></activity>
        <activity android:name=".recycleview.RecycleViewHorizontalActivity"
            android:screenOrientation="landscape"
            android:label="RecycleView 水平方向"
            ></activity>

        <activity android:name=".textview.DemoTextViewActivity"></activity>

        <activity android:name=".imageview.DemoImageViewActivity"
            android:label="ImageView"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            ></activity>

        <activity android:name=".notification.DemoNotificationActivity"></activity>
        <activity android:name=".notification.NoificationReceiveStandardActivitity"></activity>
        <activity android:name=".notification.NoificationReceiveSingleTaskActivitity"
            android:launchMode="singleTask"
            ></activity>
        <activity android:name=".notification.NotificationTestParentActivity"
            android:parentActivityName="com.stepyen.demo.base.PageListActivity"
            ></activity>


    </application>

</manifest>