<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.demo.androidmanifest">


    <application>


        <activity
            android:name=".metadata.DemoMetaDataActivity"
           >
            <meta-data
                android:name="activity.test"
                android:resource="@string/test_meta_info" />
        </activity>

        <meta-data
            android:name="application.test"
            android:value="applicationValue" />

        <meta-data
            android:name="application.test.manifestPlaceholders"
            android:value="${test_value}" />

        
<!--        启动模式-->
        <activity android:name=".launchmode.DemoLaunchModeActivity"
            android:label="launchMode"
            ></activity>

        <activity android:name=".launchmode.AActivity"></activity>
        <activity android:name=".launchmode.BActivity"></activity>
        <activity
            android:name=".launchmode.BSingleTaskActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".launchmode.BSingleTopActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".launchmode.BSingleInstanceActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".launchmode.BBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity
            android:name=".launchmode.BBTaskSingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".launchmode.CActivity"></activity>

        <activity
            android:name=".launchmode.CBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".launchmode.DActivity"></activity>


        <!--        android:screenOrientation 属性-->
        <activity android:name=".screen_orientation.DemoScreenOrientationActivity"
            android:screenOrientation="landscape"
            android:label="screenOrientation"
            ></activity>
        <activity android:name=".screen_orientation.DemoBehindActivity"
            android:screenOrientation="behind"
            android:label="behind"
            ></activity>

<!--    android:windowSoftInputMode 属性-->
        <activity android:name=".windowsoftinputmode.DemoWindowSoftInputModeActivity"
            android:label="WindowSoftInputMode"
            ></activity>

        <activity
            android:name=".windowsoftinputmode.AdjustUnspecifiedActivity"
            android:windowSoftInputMode="adjustUnspecified"
            android:label="adjustUnspecified"
            ></activity>
        <activity
            android:name=".windowsoftinputmode.AdjustResizeActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="adjustResize"
            ></activity>
        <activity
            android:name=".windowsoftinputmode.AdjustPanActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="adjustPan"
            ></activity>


    </application>
</manifest>