<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stepyen.demo.androidmanifest">

    <uses-sdk tools:overrideLibrary="com.huawei.hms.analytics" />
    <uses-sdk tools:overrideLibrary="com.bun.miitmdid" />

    <application>

        <activity android:name=".metadata.DemoMetaDataActivity">
            <meta-data
                android:name="activity.test"
                android:resource="@string/test_meta_info" />
        </activity>

        <meta-data
            android:name="application.test"
            android:value="applicationValue" />

        <meta-data
            android:name="application.test.manifestPlaceholders"
            android:value="${test_value}" />


        <!--       configChanges -->
        <activity
            android:name=".configchanges.DemoConfigChangesActivity"
            android:label="configChanges"></activity>

        <activity
            android:name=".configchanges.DemoSmallestScreenSizeActivity"
            android:configChanges="smallestScreenSize|screenSize|orientation|screenLayout"
            android:label="smallestScreenSize"></activity>

        <activity
            android:name=".configchanges.DemoOrientationActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="orientation"></activity>


        <!--        启动模式-->
        <activity
            android:name=".launchmode.DemoLaunchModeActivity"
            android:label="launchMode"></activity>

        <activity android:name=".launchmode.AActivity"></activity>
        <activity android:name=".launchmode.BActivity"></activity>
        <activity
            android:name=".launchmode.BSingleTaskActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".launchmode.BSingleTopActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".launchmode.BSingleInstanceActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".launchmode.BBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity
            android:name=".launchmode.BBTaskSingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".launchmode.CActivity"></activity>

        <activity
            android:name=".launchmode.CBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".launchmode.DActivity"></activity>


        <!--        android:screenOrientation 属性-->
        <activity
            android:name=".screen_orientation.DemoScreenOrientationActivity"
            android:label="screenOrientation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".screen_orientation.DemoBehindActivity"
            android:label="behind"
            android:screenOrientation="behind"></activity>

        <!--    android:windowSoftInputMode 属性-->
        <activity
            android:name=".windowsoftinputmode.DemoWindowSoftInputModeActivity"
            android:label="WindowSoftInputMode"></activity>

        <activity
            android:name=".windowsoftinputmode.AdjustUnspecifiedActivity"
            android:label="adjustUnspecified"
            android:windowSoftInputMode="adjustUnspecified"></activity>
        <activity
            android:name=".windowsoftinputmode.AdjustResizeActivity"
            android:label="adjustResize"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".windowsoftinputmode.AdjustPanActivity"
            android:label="adjustPan"
            android:windowSoftInputMode="adjustPan"></activity>

        <!--        屏幕的最大宽高比-->
<!--        <meta-data-->
<!--            android:name="android.max_aspect"-->
<!--            android:value="2.4" />-->
        <activity
            android:name=".max_aspect.DemoMaxAspectActivity"
            android:label="max_aspect"
            android:maxAspectRatio="2.4"
            android:resizeableActivity="false"
            ></activity>

    </application>
</manifest>